$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "Noto Sans";

@import "colors";
@import "../node_modules/bulma/sass";

@import "navbar";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  padding-top: 9rem;
}