.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 7.5rem;
  background-color: $primary;
  align-items: center;
}

.navbar-home {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.nav-text {
  color: rgb(200, 200, 200);
  font-size: 1.5rem;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
}

figure.navbar-logo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  img {
    min-width: 6.5rem;
    width: 7.5rem;
    height: auto;
    display: block;
  }
}