.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
   min-height: clamp(4rem, 5vw, 7.5rem);
  background-color: $primary;
}

.navbar-home {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.nav-text {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

figure.navbar-logo {
  margin-right: 0;

  img {
    width: 6rem;
    height: auto;
    display: block;
  }
}
