.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 7.5rem;
  max-height: 7.5rem;
  background-color: $primary;
}

.navbar-buttons
{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
  height: 100%;
  text-decoration: none;
}

.navbar-buttons .navbar-home {
  display: inherit;
  align-items: inherit;
  gap: inherit;
  text-decoration: inherit;
}

.navbar-buttons .navbar-burger {
  height: 100%; 
  color: inherit;
  text-decoration: none;
  color: rgb(200, 200, 200);
  margin-left: auto;
}

.nav-text {
  color: rgb(200, 200, 200);
  font-size: 1.5rem;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
}

figure.navbar-logo {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  img {
    min-width:7.5rem;
    width: 7.5rem;
    height: auto;
    display: block;
  }
}