<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-BR" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script defer src="/_vercel/insights/script.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body>
    <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
    {{ content }}
  </body>
</html>
